* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background:rgb(142, 193, 223);
    background-color: #9ebab0;
    background-color: #000000;
    background-color: #fafafa;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewBox='0 0 48 48'%3E%3Cg fill='%23000000' fill-opacity='0.09'%3E%3Cpath fill-rule='evenodd' d='M5 3.59L1.46.05.05 1.46 3.59 5 .05 8.54l1.41 1.41L5 6.41l3.54 3.54 1.41-1.41L6.41 5l3.54-3.54L8.54.05 5 3.59zM17 2h24v2H17V2zm0 4h24v2H17V6zM2 17h2v24H2V17zm4 0h2v24H6V17z'/%3E%3C/g%3E%3C/svg%3E");    
    font-size: 16px;
}

h1{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 3px;
}

h2{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 3px;
}

h3{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 5px;
}

h4{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 3px;
}

h5{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 3px;
}

p{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 4px;
}
.imagen_acdc{
    width: 100%;
     height: 550px;
     background: url(./imgE/acdc.png)no-repeat center center/cover;
     padding-bottom: 50px;
     margin-bottom: 20px;
}
.imagen_beatles{
    width: 100%;
     height: 550px;
     background: url(./imgE/beatles.jpg)no-repeat center center/cover;
     padding-bottom: 50px;
     margin-bottom: 20px;
}
.imagen_bonjovi{
    width: 100%;
     height: 550px;
     background: url(./imgE/bon_jovi.png)no-repeat center center/cover;
     padding-bottom: 50px;
     margin-bottom: 20px;
}
.imagen_cure{
    width: 100%;
     height: 550px;
     background: url(./imgE/cure.jpg)no-repeat center center/cover;
     padding-bottom: 50px;
     margin-bottom: 20px;
}
.imagen_guns{
    width: 100%;
     height: 550px;
     background: url(./imgE/guns.jpg)no-repeat center center/cover;
     padding-bottom: 50px;
     margin-bottom: 20px;
}
.imagen_kiss{
    width: 100%;
     height: 550px;
     background: url(./imgE/kisslogo.jpg)no-repeat center center/cover;
     padding-bottom: 50px;
     margin-bottom: 20px;
}
.imagen_metallica{
    width: 100%;
     height: 550px;
     background: url(./imgE/metallica.jpg)no-repeat center center/cover;
     padding-bottom: 50px;
     margin-bottom: 20px;
}
.imagen_nirvana{
    width: 100%;
     height: 550px;
     background: url(./imgE/nirvana.png)no-repeat center center/cover;
     padding-bottom: 50px;
     margin-bottom: 20px;
}
.imagen_oasis{
    width: 100%;
     height: 550px;
     background: url(./imgE/oasis.jpg)no-repeat center center/cover;
     padding-bottom: 50px;
     margin-bottom: 20px;
}
.imagen_pink{
    width: 100%;
     height: 550px;
     background: url(./imgE/pink.jpg)no-repeat center center/cover;
     padding-bottom: 50px;
     margin-bottom: 20px;
}
.imagen_police{
    width: 100%;
     height: 550px;
     background: url(./imgE/police.jpg)no-repeat center center/cover;
     padding-bottom: 50px;
     margin-bottom: 20px;
}
.imagen_queen{
    width: 100%;
     height: 550px;
     background: url(./imgE/queen.jpg)no-repeat center center/cover;
     padding-bottom: 50px;
     margin-bottom: 20px;
}
.imagen_rhcp{
    width: 100%;
     height: 550px;
     background: url(./imgE/rhcp.jpg)no-repeat center center/cover;
     padding-bottom: 50px;
     margin-bottom: 20px;
}
.imagen_rolling{
    width: 100%;
     height: 550px;
     background: url(./imgE/rolling.png)no-repeat center center/cover;
     padding-bottom: 50px;
     margin-bottom: 20px;
}
.imagen_zeppelin{
    width: 100%;
     height: 550px;
     background: url(./imgE/zepellin.png)no-repeat center center/cover;
     padding-bottom: 50px;
     margin-bottom: 20px;
}

section{
    margin: 10px;
    padding: 10px;
}

.indice ol li a:hover{
    border-bottom: 1px solid black;
    text-decoration: none;
    color: black;
}

.color_link{
    color: black;
    text-decoration: none;
}

dl{
    margin: 5px;
    padding: 5px;
}

dt{
    margin: 5px;
    padding: 5px;
    font-style: italic;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

dd{
    margin: 5px;
    padding: 5px;
}

.lista {
    list-style: disc;
}
ol {
    list-style: upper-roman;
}
.container{
    width: 90%;
    margin: auto;
}
/*nav*/
 .nav-main {
     font-size: 17px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     height: 60px;
     padding: 20px 0;
 }
 .nav-logo{
     width: 50px;
 }
 .nav-main ul {
     display:flex;
     list-style: none;
 }
 .nav-main ul li {
    padding: 10px;
 }
 .nav-main ul.nav-menu {
     flex: 1;
     margin-left: 20px;
 }

 .nav-main ul li a:hover{
    border-bottom: 1px solid black;
    text-decoration: none;
    color: black;
 }